h1, h2 {

    color: $wht;
    margin: none;
    
}

p {


    @media (min-width: 100px){

        color: $wht;
    }

  

}

button {

    background-color: $pur;
    color: $wht;
    border: none;
}