h1, h2, h3 {

    color: $wht;
    
}

p {


    @media (min-width: 100px){

        color: $wht;
    }

  

}

button {

    background-color: $pur;
    color: $wht;
    border: none;
}

a {

    text-decoration: none;
}