/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Caladea', sans-serif;
  color: #363635;
}
.container {
  margin: 0% 5%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Caladea', sans-serif;
  font-weight: 625;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.8rem;
  line-height: 1.4;
}
header {
  height: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
header h1 {
  color: #8f0c8b;
}
header nav {
  font-size: 1.6rem;
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
header a {
  text-decoration: none;
  color: #b0a49c;
}
header a:hover {
  letter-spacing: 0.75rem;
  transition: all 400ms ease-in-out;
}
@media (max-width: 800px) {
  header {
    width: 100%;
  }
}
@media (max-width: 500px) {
  header {
    height: 50vh;
    background-color: #ffdb9e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  header nav {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  header a {
    font-size: 4rem;
    line-height: 150%;
  }
}
footer {
  height: 10rem;
  text-align: center;
}
footer h3 {
  color: #8f0c8b;
  margin-top: 5%;
}
@media (max-width: 800px) {
  footer {
    border-top: 1px dashed #363635;
  }
}
.main-content {
  height: 50rem;
  margin: 0% 5%;
  background-color: #ffdb9e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.main-content img {
  height: 45rem;
  width: 75rem;
  margin-bottom: 10rem;
  margin-right: 20rem;
  margin-top: 25rem;
  opacity: 0.9;
}
.main-content .main-text {
  height: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 5% 0% 5% 10%;
}
.main-content h1 {
  font-size: 5rem;
  color: #8f0c8b;
}
.main-content .top-title {
  margin-right: 30%;
  margin-bottom: -10%;
}
.main-content .description {
  width: 35rem;
}
.main-content .descrip-bottom {
  width: 50rem;
}
.middle-content {
  margin: 0% 5%;
  margin-top: 6%;
  height: 50rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.middle-content img {
  margin-top: 25rem;
  opacity: 0.9;
}
.middle-content h2 {
  margin-bottom: 5%;
}
.middle-content .middle-text {
  width: 35rem;
}
.bottom-content {
  margin: 0% 5%;
  margin-top: 10%;
  padding-left: 20%;
  background-color: #ffdb9e;
  height: 50rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.bottom-content .bottom-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bottom-content h1 {
  margin-top: -10%;
  margin-bottom: 40%;
}
.bottom-content button {
  border-radius: 50px;
  width: 200px;
  height: 40px;
  font-size: 1.6rem;
  background: #8f0c8b;
  color: white;
  font-family: Caladea;
}
.bottom-content img {
  height: 45rem;
  width: 75rem;
  opacity: 0.9;
  margin-bottom: 15%;
}
.first-picture {
  padding-bottom: 5%;
  height: 50rem;
  margin: 0% 5%;
  background: #ffdb9e;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.first-picture p {
  width: 30%;
  margin-top: 5%;
}
.first-picture img {
  width: 20rem;
  height: 5%;
}
.middle-pictures {
  height: 50rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.middle-pictures .left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
}
.middle-pictures .left p {
  margin-bottom: 5%;
}
.middle-pictures .left img {
  width: 60%;
}
.middle-pictures .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.middle-pictures .right p {
  margin-bottom: 5%;
}
.middle-pictures .right img {
  width: 30%;
}
.lower-pictures {
  background: #ffdb9e;
  height: 50rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.lower-pictures .left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
}
.lower-pictures .left p {
  margin-bottom: 5%;
}
.lower-pictures .left img {
  width: 70%;
}
.lower-pictures .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 5%;
}
.lower-pictures .right p {
  margin-bottom: 5%;
}
.lower-pictures .right img {
  width: 40%;
}
.last-picture {
  padding-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.last-picture p {
  margin-bottom: 5%;
}
.contact-content {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.contact-content img {
  height: 50rem;
  width: 200%;
  margin-left: -110%;
  opacity: 0.8;
}
@media (max-width: 800px) {
  .contact-content img {
    display: none;
  }
  .contact-content .c-top {
    margin: 0 auto;
  }
  .contact-content label {
    text-align: center;
    width: 100%;
  }
  .contact-content #sendButton {
    margin-left: 15%;
  }
}
.c-top {
  height: 50rem;
}
.c-top h1 {
  margin-bottom: 3%;
  color: #8c8989;
  margin-top: 10%;
}
.c-top p {
  margin-top: -10%;
}
.c-top form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.c-top form label {
  display: block;
  padding: 2rem 0;
  color: #8f0c8b;
  font-size: 1.6rem;
  font-weight: 700;
}
.c-top form input {
  display: block;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 100%;
}
.c-top form input:focus {
  border-color: #8f0c8b;
  transition: 500ms ease-in-out;
}
.c-top form textarea {
  resize: none;
  width: 100%;
  display: block;
  height: 1.6rem;
  border-top: none;
  border-right: none;
  border-left: none;
  max-height: auto;
  margin-bottom: 15%;
}
.c-top form textarea:focus {
  border-color: #8f0c8b;
  transition: 500ms ease-in-out;
}
.c-top form #sendButton {
  border-radius: 50px;
  width: 200px;
  height: 40px;
  font-size: 1.6rem;
  background: #8f0c8b;
  color: white;
  font-family: Caladea;
}
.login {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-top: 5%;
  margin-right: 10%;
}
.login img {
  height: 50rem;
  width: 100%;
}
.login form {
  height: 30rem;
  width: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login label {
  display: block;
  padding: 2rem 0;
  color: #363635;
  font-size: 2rem;
  font-weight: 700;
}
.login input {
  display: block;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 50%;
}
.login input:focus {
  border-color: #8f0c8b;
  transition: 500ms ease-in-out;
}
.login #pwordButton {
  border-radius: 50px;
  width: 200px;
  height: 40px;
  font-size: 1.6rem;
  background: #8f0c8b;
  color: white;
  font-family: Caladea;
  margin-top: 10%;
}
@media (max-width: 800px) {
  .login {
    width: 80%;
    margin-bottom: 20%;
  }
  .login img {
    display: none;
  }
  .login form {
    margin: 0% 18%;
    width: 100%;
    text-transform: uppercase;
  }
  .login label {
    font-size: 5rem;
  }
  .login input {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .login {
    opacity: 0.5;
  }
  .login form {
    margin: 0% 15%;
  }
}
